body {
  background: url(../img/background.svg) no-repeat center top fixed;
  background-size: 100.4% 100.2%;
  font-family: 'Oxygen', sans-serif;
}

.name {
  float: left;
  color: #132E2E;
  text-decoration: none;
  font-size: 140%;
  padding: 4px;
  margin-top: -7px;
  background-color: #8EBDBD;
  border: 0.5px solid #454545;
  border-radius: 2.5px;
}

.name:hover {
  color: #255757;
  text-decoration: none;
}

.about, .contact, .menu b {
  float: right;
  color: #191919;
  text-decoration: none;
}

.about:hover, .contact:hover {
color: #454545;
text-decoration: none;
}

.portfolio {
  margin-top: 0;
  margin-left: 3px;
  p {
    font-size: 150%;
  }
}

.projetdiv {
  margin: 4% 13%;
  background: #F2F2F2;
  border-radius: 3px;
  border: 0.5px solid #ABABAB;
}

.projet {
  margin: 2% 9%;
  padding-bottom: 25px;
  p {
    margin: 5px;
  }
}

.projet-titre {
  padding: 20px;
  font-size: 150%;
}

.top {
  margin-top: 70px;
}

.preview {
  padding-top: 15px;
}

.text {
  padding-bottom: 30px;
}

.img-fluid {
  max-width: 120px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 0.5px solid #878787;
  margin-left: 8px;
}
