* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../img/background2.svg) no-repeat center top fixed;
  background-size: 100.4% 100.2%;
  font-family: 'Raleway', sans-serif;
}

h1 {
  margin: 45px 35px 20px 35px;
  color: #607B91;
  text-align: center;
}

.name {
  float: left;
  text-decoration: none;
  font-size: 36px;
  padding: 6px 9px;
  margin-top: -8px;
  color: #1F2326;
  background-color: #88AECF;
  border-radius: 5px;
}

.about, .contact, .menu b {
  font-size: 20px;
  float: right;
  color: #6A88A1;
  text-decoration: none;
}

.about:hover, .contact:hover {
color: #7898B5;
text-decoration: none;
}

.projetdiv {
  margin-top: 45px;
  margin-bottom: 15px;
  background: #F6F7F8;
  border-radius: 4px;
  border: 1.5px dotted #91B9DC;
}

.projet {
  padding: 40px;
  .col-lg-5 p{
    margin-left: 10px;
  }
}

.projet-titre {
  font-size: 150%;
  a {
    text-decoration: none;
    color: #070A1C;
    border-bottom: 1.5px dashed #91B9DC;
  }
  a:hover {
    color: #81A5C4;
  }
}

.photo {
  border-radius: 2.5px;
  border: 1px solid #F6F7F8;
  opacity: 0.88;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.photo:hover {
  opacity: 1;
  -webkit-transform: scale(1.025);
  -moz-transform: scale(1.025);
  -ms-transform: scale(1.025);
  -o-transform: scale(1.025);
  transform: scale(1.025);
}

.texte {
  float: left;
  padding-top: 80px;
  line-height: 1.8;
  opacity: 0.85;
  font-size: 17px;
  strong {
    font-size: 28px;
    margin-left: 10px;
  }
  p {
    padding: 15px;
  }
}

.repolink {
  font-size: 110%;
  padding: 20px;
  text-decoration: none;
  color: #070A1C;
  border: 0.5px solid #91B9DC;
  border-radius: 2px;
}

.repolink:hover {
  text-decoration: none;
  color: #81A5C4;
}

.popup {
  z-index: 5;
  position: fixed;
  top: 35px;
  right: 10px;  
  width: 230px;
  height: auto;
  font-size: 14px;
  padding: 17px 20px;
  color: #1F2326;
  background-color: #88AECF;
  border-radius: 3px;
  margin: 0 auto;
  text-align: left;
  br {
    margin-bottom: 5px;
  }
  .popup-email {
    font-size: 14px;
    text-align: center;
  }
}
@media only screen and (max-width: 445px){
  .popup {margin-top: 22px}
}
    
.cancel {
  z-index: 5;
  display: table;
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
  padding: 3px 10px;
  font-size: 20px;
  font-weight: bold;
  color: #343B40;
  border-radius: 20px;
  cursor: pointer;
}
.cancel:hover {
  background-color: #7596B2;
}

.btn-top {
  z-index: 6;
  position: fixed;
  bottom: 20px;
  right: 24px;
  min-width: 15px;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bolder;
    outline: none;
    color: #F2F8FC;
    background-color: #7190AB;
    padding: 3.5px 20px;
    border-radius: 50%;
  }
  a:hover {
    text-decoration: none;
  }
}